/* html, body {
    
} */

#navigation {
  background-color: #F8F8F8;
  padding: 16px 35px;
  font-weight: 500;
  font-family: "Poppins", san-serif;
	text-align: center;
  width: 100%;
}
#navigation a {
  color: #23232D;
}
#navigation a:hover {
  color: #3017A1;
}


li.c-nav-list-item .c-nav-item-rewards {
  font-weight: 500 !important;
  font-family: "Poppins", san-serif !important;
}

